/* @font-face {
    font-family: 'alte_haas_grotesk';
    src: url('fonts/ahg.woff2') format('woff2'),
         url('fonts/ahg.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('fonts/NHaasGroteskTXPro-55Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Italic';
  src: url('fonts/NHaasGroteskTXPro-56It.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk 65';
  src: url('fonts/NHaasGroteskTXPro-65Md.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk 65 Italic';
  src: url('fonts/NHaasGroteskTXPro-66MdIt.woff') format('woff');
  font-weight: normal;
}

body {
  font-family: 'Neue Haas Grotesk';
  background-color: white;
}

.italic {
  font-family: 'Neue Haas Grotesk Italic';
}

html {
  cursor: url('cursor.svg'), auto;
}

.page-container {
  margin: 20px;
}

.wavy {
  cursor: help;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #40BE14;
  text-decoration-thickness: 2px;
}


/*-------------------------------nav header-----------------------------------------*/

/*------header words tilt effect--------*/
.word {
  font-size: 1.5rem;
}

.word .up {
  display: inline-block;
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.word .down {
  display: inline-block;
  transform: translate3d(0px, 0px, 0px) rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.word:hover .up {
  transform: translate3d(0px, -8px, 0px) rotate(15deg);
  color: #40BE14;
}

.word:hover .down {
  transform: translate3d(0px, 8px, 0px) rotate(-15deg);
  color: #40BE14;
}

/*------------------nav bar------------------*/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header li {
  float: right;
}

.header li a {
  display: block;
  text-align: center;
  padding-left: 30px;
  text-decoration: none;
  letter-spacing: -0.25px;
  /* font-weight: 1000; */
}

.header li:last-child a {
  padding-left: 0px;
}

.header {}

/* stack links on top of each other when the screen < 500px */
/* @media screen and (max-width: 500px) {
  .header li {
    float: left;
    display: block;
    text-align: left;
  }

} */



a {
  color: #000000;
  text-decoration: none;
}

a:hover,
a:active {
  color: #40BE14;
  cursor: url('cursor.svg'), auto;

}

a:visited {
  color: #333333;
}

#nz img {
  display: none;
}

#nz:hover img {
  display: block;
}

#tina img {
  display: none;
}

#tina:hover img {
  display: block;
}

p {
  font-size: 1.5rem;
  color: black;
  display: inline-block;
}

/*---------------------------------------home page-----------------------------------------*/
.row-home {
  display: flex;
}

.column-home {
  flex: 50%;
}



/*---------------------------------------switch-----------------------------------------*/

/* switch */
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 35px;
}

label {
  margin-left: 45%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  width: 60px;
  height: 35px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #40BE14;
}

input:focus+.slider {
  box-shadow: 0 0 1px #40BE14;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*---------------------------------------gallery-----------------------------------------*/

.item p {
  display: none;
  padding-top: 1%;
  font-size: 1.2rem;
  margin-left: 0;
}

.item:hover p {
  display: block;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-home {
    width: 100%;
  }

  .row-home {
    display: initial;
  }
}

footer {
  color: #333333;
  font-size: 0.5em;
  text-align: center;
  position: fixed;
  left: 30%;
  bottom: 3%;
}

/*---------------------------------------about-----------------------------------------*/

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 5%;
}

.column {
  -ms-flex: 24%;
  /* IE10 */
  flex: 24%;
  width: 24%;
  padding: 0 4px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    max-width: 100%;
  }

  .row {
    display: initial;
  }
}

#bread-pic {
  display: none;
}

#bread:hover img {
  display: block;
  float: right;
}

#movies-pic {
  display: none;
}

#movies:hover img {
  display: block;
  float: left;
}

#music-pic {
  display: none;
}

#music:hover img {
  display: block;
  float: right;
}

/*---------------------------------------individual works-----------------------------------------*/
/* title block */
h2 {
  font-family: 'Newsreader', serif;
  font-size: 2.5rem;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
}

.work-title {
  float: left;
  padding-top: 1%;
  margin-top: 0;
  margin-bottom: 0;
}

.role {
  font-family: 'Newsreader', serif;
  font-style: italic;
  float: right;
  padding-top: 1%;
  margin-top: 0;
}

.title-block {
  padding-bottom: 5%;
  display: block;
}

.row-title:after {
  content: "";
  display: table;
  clear: both;
}

.column-title {
  float: left;
  width: 50%;
  padding: 10px;
}

.about-body {
  margin-top: 0;
}

@media screen and (max-width: 1000px) {
  .column-title {
    min-width: 100%;
    text-align: center;
  }

  .work-title {
    margin-bottom: 0;
  }

  .role {
    float: none;
    margin-bottom: 0;
  }
}

/* about */
.row-about {
  margin-bottom: 2%;
  margin-top: 2%;
}

.row-about:after {
  content: "";
  display: table;
  clear: both;
}

.column-about {
  float: left;
  padding: 10px;
}

.left-about {
  width: 35%;
  text-align: center;
}

.right-about {
  width: 55%;
}

@media screen and (max-width: 800px) {
  .column-about {
    min-width: 100%;
  }
}

/* about img (35/65) */
.row-about-pic:after {
  content: "";
  display: table;
  clear: both;
}

.column-about-pic {
  float: left;
  padding: 10px;
}

.left-about-pic {
  width: 35%;
}

.right-about-pic {
  width: 65%;
}

@media screen and (max-width: 800px) {
  .column-about-pic {
    min-width: 100%;
  }
}

.about-body {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

/* about img (50/50) */

.thumbnail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6px;
  gap: 10px;
}

@media screen and (max-width: 500px) {
  .word {
    font-size: 1rem;
  }
}

@media screen and (max-width: 340px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .header li a {
    padding: 0;
  }
}